github "Alamofire/Alamofire" ~> 5.2
github "onevcat/Kingfisher" ~> 5.14.1
github "Quick/Quick" ~> 3.0.0
github "Quick/Nimble" ~> 8.1.1
github "uber/ios-snapshot-test-case" ~> 6.2.0
github "ashfurrow/Nimble-Snapshots" ~> 8.2.1